@inject Radzen.DialogService dialogService

<RadzenCard Style="margin-bottom: 20px;">
    <RadzenTemplateForm TItem="KeyListItem" Data=@newItem Submit=@OnSubmit>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    Key Name
                </div>
                <div class="col-sm-8">
                    <RadzenTextBox Name="KeyName" Placeholder="String Value" @bind-Value="@newItem.KeyName" Style="margin-bottom: 20px" />
                    <RadzenRequiredValidator Component="KeyName" Text="Key name is required" Popup=true Style="position: absolute" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Value
                </div>
                <div class="col-sm-8">
                    <RadzenTextBox Placeholder="Value" @bind-Value="@valValue" Style="margin-bottom: 20px" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <RadzenButton Click="@((args) => AddValue())" Disabled="@(valValue.Length <= 0)" ButtonStyle="ButtonStyle.Secondary" Text="Add" Style="margin-bottom: 10px; width: 150px" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="OK" Style="margin-bottom: 10px; width: 150px" />
                    <RadzenButton Click="@((args) => dialogService.Close(false))" ButtonStyle="ButtonStyle.Danger" Text="Cancel" Style="margin-bottom: 10px; width: 150px" />
                </div>
            </div>
        </div>
    </RadzenTemplateForm>

    <div class="row">
        <div class="col-sm">
            <RadzenListBox AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                           @bind-Value=@value Data=@newItem.KeyValues TextProperty="Name" ValueProperty="Value"
                           Style="height:200px; width:400px; margin-left: 5px;">
                <Template>
                    <div class="text-nowrap">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Click="@((args) => DeleteValue((context as KeyValue)))" Icon="delete"></RadzenButton>
                        @((context as KeyValue).Value)
                    </div>
                </Template>
            </RadzenListBox>
        </div>
    </div>
</RadzenCard>

@code {

    KeyListItem newItem = new KeyListItem();
    string value = "";

    string valValue = string.Empty;

    protected override async Task OnInitializedAsync()
    {
    }

    void AddValue()
    {
        KeyValue val = new KeyValue(valValue);

        if (newItem.KeyValues.Count <= 0)
        {
            newItem.KeyValues.Add(val);
        }
        else
        {
            newItem.KeyValues.Insert(0, val);
        }

        valValue = string.Empty;

        StateHasChanged();
    }

    void DeleteValue(KeyValue val)
    {
        newItem.KeyValues.Remove(val);

        StateHasChanged();
    }

    void OnSubmit(KeyListItem newItem)
    {
        dialogService.Close(newItem);
    }
}