@inherits NotificationComponent

@using RedisKeyTool.Client.Dialogs
@using StackExchange.Redis;

@inject SettingService rs
@inject KeyService ks
@inject HttpClient Http
@inject Radzen.DialogService dialogService
@inject LoadingService loadingService

<RadzenCard Style="    margin-top: 5px;
        border-style: ridge;
        margin-bottom: 5px;
        min-height: 550px;
    ">
    <RadzenTemplateForm TItem="KeyListItem" Data=@newItem Submit=@OnSubmit>
        <div class="container">
            <div class="row pb-1 pt-2">
                <div class="col-sm">
                    <h3>Edit Set Key</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Key Name
                </div>
                <div class="col-sm-8">
                    <RadzenTextBox Name="KeyName" Placeholder="String Value" @bind-Value="@newItem.KeyName" Style="margin-bottom: 20px; width: 60%;" />
                    <RadzenRequiredValidator Component="KeyName" Text="Key name is required" Popup=true Style="position: absolute" />
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-sm-4">
                    Expires In
                </div>
                <div class="col-sm-8">
                    <RadzenMask Mask="**:**:**" Pattern="[^0-9]" Placeholder="00:00:00" Name="Expiration" @bind-Value=@newItem.Expiry />
                    <RadzenButton ButtonStyle="ButtonStyle.Info" Click=@(args => ShowExpiration()) Icon="help" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Value
                </div>
                <div class="col-sm-8">
                    <RadzenTextBox Placeholder="Value" @bind-Value="@valValue" Style="margin-bottom: 20px; width: 60%;" @oninput=@(args => OnTextChange()) />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <RadzenButton Click="@((args) => AddValue())" ButtonStyle="ButtonStyle.Secondary" Text="Add" Style="margin-bottom: 10px; width: 150px" />
                </div>
                <div class="col-sm-6">
                    <RadzenButton Click="@((args) => EditValue())" ButtonStyle="ButtonStyle.Light" Disabled="@(newItem.KeyValues.Count <= 0)" Text="Update" Style="margin-bottom: 10px; width: 150px" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <RadzenListBox AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                   @bind-Value=@value Data=@newItem.KeyValues TextProperty="Value" ValueProperty="Value"
                                   Style="min-height: 300px; max-height: 400px; width: 100%; margin-left: 5px; margin-bottom: 5px;"
                                   Change=@(args => OnChange(args))>
                        <Template Context="listContext">
                            <div class="text-nowrap">
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Click="@((args) => DeleteValue((listContext as KeyValue)))" Icon="delete"></RadzenButton>
                                @((listContext as KeyValue).Value)
                            </div>
                        </Template>
                    </RadzenListBox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Save" Style="margin-bottom: 10px; width: 150px" />
                </div>
            </div>
        </div>
    </RadzenTemplateForm>
</RadzenCard>

@code {
    SetValidator validator = new SetValidator();
    KeyListItem newItem = new KeyListItem();
    string value = "";
    int currIdx = 0;
    string valValue = string.Empty;

    protected override Task OnInitializedAsync()
    {
        newItem = ks.CurrentKey;

        ks.NotifyEditKey += OnEditKeyNotify;

        StateHasChanged();

        return Task.CompletedTask;
    }

    public async Task OnEditKeyNotify(KeyListItem key)
    {
        await loadingService.StartLoading();
        KeyPayload keyPayload = new KeyPayload();
        keyPayload.RedisSetting = rs.RedisSetting;
        keyPayload.KeyListItem = key;
        HttpResponseMessage response = await Http.PostAsJsonAsync<KeyPayload>("Redis/keys/inflate", keyPayload);
        newItem = await response.Content.ReadFromJsonAsync<KeyListItem>();

        ks.CurrentKey = newItem;

        await loadingService.StopLoading();
        StateHasChanged();
    }

    public void Dispose()
    {
        ks.NotifyEditKey -= OnEditKeyNotify;
    }

    void OnTextChange()
    {
        StateHasChanged();
    }

    void OnChange(object value)
    {
        currIdx = newItem.KeyValues.FindIndex(k => k.Value == Convert.ToString(value));
        KeyValue val = newItem.KeyValues.FirstOrDefault(k => k.Value == Convert.ToString(value));
        this.valValue = val.Value;
    }

    void AddValue()
    {
        KeyValue val = new KeyValue(valValue);

        ValidationResult result = validator.Validate(val);

        if (result.IsValid)
        {
            newItem.KeyValues.Add(val);
            valValue = string.Empty;

            StateHasChanged();
        }
        else
        {
            foreach (ValidationFailure error in result.Errors)
            {
                ShowErrorNotification(error.ErrorMessage);
            }
        }
    }

    void EditValue()
    {
        KeyValue val = new KeyValue(valValue);

        ValidationResult result = validator.Validate(val);

        if (result.IsValid)
        {
            newItem.KeyValues[currIdx] = val;

            StateHasChanged();
        }
        else
        {
            foreach (ValidationFailure error in result.Errors)
            {
                ShowErrorNotification(error.ErrorMessage);
            }
        }
    }

    void DeleteValue(KeyValue val)
    {
        newItem.KeyValues.Remove(val);

        StateHasChanged();
    }

    async Task OnSubmit(KeyListItem newItem)
    {
        await loadingService.StartLoading();
        ApplicationResponse applicationResponse = new ApplicationResponse(false, string.Empty);

        HttpResponseMessage response = null;

        KeyPayload keyPayload = new KeyPayload();
        keyPayload.RedisSetting = rs.RedisSetting;
        keyPayload.KeyListItem = newItem;
        response = await Http.PostAsJsonAsync<KeyPayload>("Redis/keys/update/set", keyPayload);

        applicationResponse = await response.Content.ReadFromJsonAsync<ApplicationResponse>();
        if (applicationResponse.IsSuccess)
        {
            ShowNotification(applicationResponse.Message);
        }
        else
        {
            ShowErrorNotification(applicationResponse.Message);
        }

        await loadingService.StopLoading();
        StateHasChanged();
    }
}