@inject Radzen.DialogService dialogService
@inherits NotificationComponent

<RadzenCard Style="margin-bottom: 20px;">
    <RadzenTemplateForm TItem="KeyListItem" Data=@newItem Submit=@OnSubmit>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    Key Name
                </div>
                <div class="col-sm-8">
                    <RadzenTextBox Name="KeyName" Placeholder="String Value" @bind-Value="@newItem.KeyName" Style="margin-bottom: 20px; width: 60%;" />
                    <RadzenRequiredValidator Component="KeyName" Text="Key name is required" Popup=true Style="position: absolute" />
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-sm-4">
                    Expires In
                </div>
                <div class="col-sm-8">
                    <RadzenMask Mask="**:**:**" Pattern="[^0-9]" Placeholder="00:00:00" Name="Expiration" @bind-Value=@newItem.Expiry />
                    <RadzenButton ButtonStyle="ButtonStyle.Info" Click=@(args => ShowExpiration()) Icon="help" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Value
                </div>
                <div class="col-sm-8">
                    <RadzenTextBox Placeholder="Value" @bind-Value="@valValue" Style="margin-bottom: 20px; width: 60%;" @oninput=@(args => OnTextChange()) />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <RadzenRadioButtonList @bind-Value=@beginningOrEnd TValue="int">
                        <Items>
                            <RadzenRadioButtonListItem Text="Start" Value="0" />
                            <RadzenRadioButtonListItem Text="End" Value="1" />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <RadzenButton Click="@((args) => AddValue())" ButtonStyle="ButtonStyle.Secondary" Text="Add" Style="margin-bottom: 10px; width: 150px" />
                </div>
                <div class="col-sm-6">
                    <RadzenButton Click="@((args) => EditValue())" ButtonStyle="ButtonStyle.Light" Disabled="@(newItem.KeyValues.Count <= 0)" Text="Update" Style="margin-bottom: 10px; width: 150px" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <RadzenListBox AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                   @bind-Value=@value Data=@newItem.KeyValues TextProperty="Value" ValueProperty="Value"
                                   Style="height: 200px;width: 100%;margin-left: 5px;margin-bottom: 5px;"
                                   Change=@(args => OnChange(args))>
                        <Template Context="listContext">
                            <div class="text-nowrap">
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Click="@((args) => DeleteValue((listContext as KeyValue)))" Icon="delete"></RadzenButton>
                                @((listContext as KeyValue).Value)
                            </div>
                        </Template>
                    </RadzenListBox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="OK" Style="margin-bottom: 10px; width: 150px" />
                    <RadzenButton Click="@((args) => dialogService.Close(false))" ButtonStyle="ButtonStyle.Danger" Text="Cancel" Style="margin-bottom: 10px; width: 150px" />
                </div>
            </div>
        </div>
    </RadzenTemplateForm>
</RadzenCard>

@code {
    ListValidator validator = new ListValidator();
    KeyListItem newItem = new KeyListItem();
    int currIdx = 0;
    string value = "";
    int beginningOrEnd = 0; // 0 = beginning , 1 = end
    string valValue = string.Empty;

    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }

    void OnTextChange()
    {
        StateHasChanged();
    }

    void AddValue()
    {
        KeyValue val = new KeyValue(valValue);

        ValidationResult result = validator.Validate(val);

        if (result.IsValid)
        {
            if (newItem.KeyValues.Count <= 0)
            {
                newItem.KeyValues.Add(val);
            }
            else
            {
                if (beginningOrEnd == 0)
                {
                    newItem.KeyValues.Insert(0, val);
                }
                else
                {
                    newItem.KeyValues.Add(val);
                }
            }

            valValue = string.Empty;

            StateHasChanged();
        }
        else
        {
            foreach (ValidationFailure error in result.Errors)
            {
                ShowErrorNotification(error.ErrorMessage);
            }
        }
    }

    void EditValue()
    {
        KeyValue val = new KeyValue(valValue);

        ValidationResult result = validator.Validate(val);

        if (result.IsValid)
        {
            newItem.KeyValues[currIdx] = val;

            StateHasChanged();
        }
        else
        {
            foreach (ValidationFailure error in result.Errors)
            {
                ShowErrorNotification(error.ErrorMessage);
            }
        }
    }

    void OnChange(object value)
    {
        currIdx = newItem.KeyValues.FindIndex(k => k.Value == Convert.ToString(value));
        KeyValue val = newItem.KeyValues.FirstOrDefault(k => k.Value == Convert.ToString(value));
        this.valValue = val.Value;
    }

    void DeleteValue(KeyValue val)
    {
        newItem.KeyValues.Remove(val);

        StateHasChanged();
    }

    void OnSubmit(KeyListItem newItem)
    {
        dialogService.Close(newItem);
    }
}