@inherits NotificationComponent

@using RadishV2.Client.Dialogs
@using StackExchange.Redis;

@inject SettingService rs
@inject KeyService ks
@inject HttpClient Http
@inject Radzen.DialogService dialogService

<RadzenCard Style="        margin-top: 5px;
        border-style: ridge;
        height: 550px
">
    <RadzenTemplateForm TItem="KeyListItem" Data=@newItem Submit=@OnSubmit>
        <div class="container">
            <div class="row pb-1 pt-2">
                <div class="col-sm">
                    <h3>Edit Hash Key</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Key Name
                </div>
                <div class="col-sm-8">
                    <RadzenTextBox Name="KeyName" Placeholder="String Value" @bind-Value="@newItem.KeyName" Style="margin-bottom: 20px" />
                    <RadzenRequiredValidator Component="KeyName" Text="Key name is required" Popup=true Style="position: absolute" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Hash Name
                </div>
                <div class="col-sm-8">
                    <RadzenTextBox Placeholder="Hash Name" @bind-Value="@hashName" Style="margin-bottom: 20px" @oninput=@(args => OnTextChange()) />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Hash Value
                </div>
                <div class="col-sm-8">
                    <RadzenTextBox Placeholder="Hash Value" @bind-Value="@hashValue" Style="margin-bottom: 20px" @oninput=@(args => OnTextChange()) />
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <RadzenButton Click="@((args) => AddValue())" Disabled="@(hashName.Length <= 0 || hashValue.Length <= 0)" ButtonStyle="ButtonStyle.Secondary" Text="Add" Style="margin-bottom: 10px; width: 150px" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <RadzenListBox AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                   @bind-Value=@value Data=@newItem.KeyValues TextProperty="Name" ValueProperty="Value"
                                   Style="height:200px;width:300px;margin-left:5px;margin-bottom:5px;">
                        <Template Context="listContext">
                            <div class="text-nowrap">
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Click="@((args) => DeleteValue((listContext as KeyValue)))" Icon="delete"></RadzenButton>
                                @((listContext as KeyValue).Name) => @((listContext as KeyValue).Value)
                            </div>
                        </Template>
                    </RadzenListBox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Save" Style="margin-bottom: 10px; width: 150px" />
                </div>
            </div>
        </div>
    </RadzenTemplateForm>
</RadzenCard>

@code {

    KeyListItem newItem = new KeyListItem();
    string value = "";

    string hashName = string.Empty;
    string hashValue = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        newItem = ks.CurrentKey;

        ks.NotifyEditKey += OnEditKeyNotify;

        StateHasChanged();
    }

    public async Task OnEditKeyNotify(KeyListItem key)
    {
        KeyPayload keyPayload = new KeyPayload();
        keyPayload.RedisSetting = rs.RedisSetting;
        keyPayload.KeyListItem = key;
        HttpResponseMessage response = await Http.PostAsJsonAsync<KeyPayload>("Redis/keys/inflate", keyPayload);
        newItem = await response.Content.ReadFromJsonAsync<KeyListItem>();

        ks.CurrentKey = newItem;

        StateHasChanged();
    }

    public void Dispose()
    {
        ks.NotifyEditKey -= OnEditKeyNotify;
    }

    void OnTextChange()
    {
        StateHasChanged();
    }

    void AddValue()
    {
        KeyValue val = new KeyValue(hashName, hashValue);
        newItem.KeyValues.Add(val);
        this.hashName = string.Empty;
        this.hashValue = string.Empty;

        StateHasChanged();
    }

    void DeleteValue(KeyValue val)
    {
        newItem.KeyValues.Remove(val);

        StateHasChanged();
    }

    async Task OnSubmit(KeyListItem newItem)
    {
        ApplicationResponse applicationResponse = new ApplicationResponse(false, string.Empty);

        HttpResponseMessage response = null;

        KeyPayload keyPayload = new KeyPayload();
        keyPayload.RedisSetting = rs.RedisSetting;
        keyPayload.KeyListItem = newItem;
        response = await Http.PostAsJsonAsync<KeyPayload>("Redis/keys/update/hash", keyPayload);

        applicationResponse = await response.Content.ReadFromJsonAsync<ApplicationResponse>();
        if (applicationResponse.IsSuccess)
        {
            ShowNotification(applicationResponse.Message);
        }
        else
        {
            ShowErrorNotification(applicationResponse.Message);
        }

        StateHasChanged();
    }
}